.software-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Creates a responsive grid */
    gap: 20px; /* Space between grid items */
    padding: 20px;
  }
  
  .software-entry {
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #ddd; /* Border for the story entry */
    padding: 15px;
    border-radius: 5px; /* Rounded corners for the story entry */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .software-entry:hover {
    transform: translateY(-5px); /* Slight raise effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
  }
  
  .category-tag, .date-of-publish {
    font-style: italic;
    color: #666;
  }

  .intro {
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em; /* 2 lines */
  }

  .software-entry a {
    display: inline-block;
    background-color: antiquewhite;
    color: #333; 
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.software-entry a:hover {
    background-color: #ffc999; 
}

.search-input {
  width: calc(100% - 40px); /* Dynamic width minus fixed space */
  padding: 8px 15px; /* Top and bottom padding, left and right padding */
  margin: 20px 0 20px 20px; /* Margin to the top, bottom, and left */
  box-sizing: border-box; /* Include padding and border in the element's width and height */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 4px; /* Rounded borders */
  font-size: 16px; /* Slightly larger font size for better readability */
  background-color: #f0f0f0; /* Light grey background */
  color: #333; /* Dark grey text color for contrast */
}

.search-input:focus {
  border-color: #66afe9; /* Change border color to a light blue when focused */
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 8px rgba(102, 175, 233, .6); /* Add a soft blue glow on focus */
}
